
<div class="card c2 mt-5 mb-5 w-50 mx-auto">
    
    <div class="card-body">
      <h5 class="card-title text-center">CONDUCTED</h5>

      
      
    </div>
    <div class="card-header">
    <a routerLink="conducted"><button  class="btn btn-success btn-sm d-block mx-auto ">Select</button></a>
    </div>
  </div>
  
  <div class="card  c2 w-50 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center">ATTENDED</h5>
     </div>
    <div class="card-header">
  
    <a routerLink="attended"><button  class="btn btn-success btn-sm d-block mx-auto ">Select</button></a>
        
        </div>
    
  </div>
  