<nav class="nav nav-pills nav-justified mt-5">
    <a class="nav-item nav-link " routerLink="gl" routerLinkActive="active">Guest Lectures</a>
    <a class="nav-item nav-link   " routerLink="wk" routerLinkActive="active">Workshops</a>
    <a class="nav-item nav-link" routerLink="wb" routerLinkActive="active">Webinar</a>
    <a class="nav-item nav-link" routerLink="sm" routerLinkActive="active">Seminars</a>
    <a class="nav-item nav-link" routerLink="fp" routerLinkActive="active">FDP</a>
    <a class="nav-item nav-link" routerLink="sp" routerLinkActive="active">SDP</a>
    <a class="nav-item nav-link" routerLink="cs" routerLinkActive="active">Conferences</a>
    <a class="nav-item nav-link" routerLink="cf" routerLinkActive="active">Certifications</a>
  </nav>



  
  <div>
    <router-outlet></router-outlet>
</div>