<p class="display-4 text-center text-dark m-5">Signup here</p>
<form  class="w-50 mx-auto mt-5">
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="Name" placeholder="name@example.com" name="Name">
            
        <label for="Name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="ID" placeholder="ID" name="ID" l>
        <label for="ID">ID</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="Age" placeholder="name@example.com" name="Age" >
        <label for="Age">Age</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="dob" placeholder="Email" name="dob" l>
        <label for="dob">Date of birth</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="qf" placeholder="name@example.com" name="qf" >
        <label for="qf">Qualification</label>
    </div>
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="ID" name="username" l>
        <label for="username">USER NAME</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="ID" name="password" l>
        <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="ep" placeholder="ID" name="ep" l>
        <label for="ep">Experience</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="iD" placeholder="ID" name="it" >
        <label for="it">Interests</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="pj" placeholder="ID" name="pj" l>
        <label for="pj">Projects</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="ps" placeholder="ID" name="ps" l>
        <label for="ps">Papers</label>
    </div>


    

    <button class="btn btn-success" type="submit">Signup</button>
</form>
